{% extends 'base.html.twig' %}

{% block title %}
    Bussiness Finder
{% endblock %}

{% block body %}
  <form action="{{ path('login') }}" method="GET" style="max-width:700px; margin: auto; padding-top: 40px; padding-bottom: 40px;">
      <div class="text-center mb-4">
        <img class="mb-4" src="https://static.vecteezy.com/system/resources/previews/000/414/211/non_2x/vector-different-shops-and-buildings.jpg" alt="" width="550" height="350">
        <h1 class="h3 mb-3 font-weight-normal">Bussiness Finder - Administrator Login</h1>
      </div>

        {% if incorrect %}
            <div class="alert alert-danger" id="login-error" style="display: none">
              <button type="button" class="close" data-dismiss="alert">x</button>
              <strong>Login or password are incorrect </strong>
          </div>
        {% endif %}

      <div class="principal" style="max-width: 300px; margin: auto">
        <div class="form-label-group" style="padding-bottom: 15px">
          <input type="text" name="login" class="form-control" placeholder="Login" required="" autofocus="">
        </div>

        <div class="form-label-group" style="padding-bottom: 15px">
          <input type="password" name="password" class="form-control" placeholder="Password" required="">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">2020</p>
      </div>
    </form>
{% endblock %}